@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

header {
  /* width: 100%; */
  height: 15vh;
  padding-top: 50px;
  padding-bottom: 10px;
  position: sticky;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--cor-neutra-branca);
  background-position-y: center;
  color: var(--cor-neutra-branca);
  top: 0;
  z-index: 3;
}

.cabecalho {
  background-image: url("../images/bannerIndexDark.jpg");
}

header sup {
  font-size: x-small;
  color: var(--cor-palavra-destaque);
}

.pageTitle {
  font-size: 40px;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8%;
  font-size: 1.5em;
}

#nav-logo {
  font-size: 5em;
  color: var(--cor-titulo);
  margin: 28px 8%;
  font-weight: light;
  font-family: "SF Compact Display Thin", sans-serif;
}

#nav_list {
  display: flex;
  gap: 48px;
  list-style: none;
  font-family: "SF Compact Display Medium", sans-serif;
  /* text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; */
}

.nav_item a {
  text-decoration: none;
  color: var(--cor-titulo);
  font-family: "SF Compact Display Thin", sans-serif;
}

/*adicionar risco embaixo do item do header*/
.nav_item.active a {
  color: var(--cor-titulo);
  border-bottom: 3px solid var(--cor-palavra-destaque);
}

.nav_item.inactive a {
  color: var(--cor-neutra-cinza);
}

/*não exibir o botão do mobile*/
#mobile_btn {
  display: none;
  color: var(--cor-neutra-branca);
}

/*não exibir o menu mobile*/
#mobile_menu {
  display: none;
}

/*Configurações do ajuste de tela de acordo com as proporções*/
@media screen and (max-width: 1170px) {
  #nav_list,
  #navbar .btn-default {
    display: none;
  }

  #mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    margin-left: 8%;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    margin: 12px 0px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  #mobile_nav_list .nav_item {
    list-style: none;
    text-align: center;
  }
}
